<header>
  <div class="header-logo">
    <a href="/">FoodApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">FoodAppとは</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>FoodAppとは</h2>
  <p>
    FoodAppとは、世田谷区深沢あたりのテイクアウト、デリバリーをやっているお店を集めたものです。
  </p>
</div>